html {
    min-height: 100vh;
    background-color: rgb(250, 250, 250);

    font-family: 'Fira Sans';
    font-size: 16px;

    --clr-200-light: hsl(230, 50%, 93%);
    --clr-200: hsl(230, 41%, 88%);
    --clr-200-dark: hsl(229, 31%, 80%);
    --clr-400: hsl(230, 10%, 65%);
    --clr-400-dark: hsl(229, 13%, 58%);
    --clr-600: hsl(242, 15%, 50%);
    --clr-600-dark: hsl(243, 18%, 41%);
}

body {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
    background-color: hsl(0, 0%, 96%);
    min-height: 100vh;

    position: relative;
    z-index: -1;
}

*, ::before, ::after {
    box-sizing: inherit;
    font-family: inherit;
}

header {
    padding: 6.8em 0em 0em;

    display: flex;
    justify-content: center;
}

header h1 {
    margin: 0px;
    width: 540px;

    font-family: 'Rubik';
    font-size: 3rem;
    letter-spacing: 0.025em;
    font-weight: 600;

    color: white;
    text-transform: uppercase;
}

#bg {
    position: absolute;

    left: 0px;
    top: 0px;
    width: 100%;
    height: min(30vw, 432px);

    background: linear-gradient(90deg, rgba(128, 20, 214, 0.2) 0%, rgba(0, 194, 255, 0.2) 100%), url(./background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -1;
}

main {
    padding: 1em 0 5em;

    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 1rem;
}

/* --- form style --- */

#form__container {
    width: 540px;

    padding: 1.5em 1.25em;

    background-color: white;
    border-radius: .5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    gap: 1.25em;
}


#btn__add {
    padding: 0;
    margin: 0;

    width: 24px;
    height: 24px;

    border: 1.5px solid var(--clr-200);
    border-radius: 50%;
    background-color: white;

    position: relative;
    top: 6px;

    transition: background-color 200ms ease-in-out;

    display: grid;
    place-content: center;
}

#btn__add svg {
    width: 18px;
    height: 18px;

    color: var(--clr-200);
    transition: color 200ms ease-in-out, transform 200ms ease-in-out;
}

#btn__add:hover {
    background-color: var(--clr-200);
    cursor: pointer;
}

#btn__add:hover svg {
    color: white;
    transform: rotate(180deg);
}

form {
    /* below style is for grow to maximum size of the form not its childrens */
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: .625em;
}

::placeholder {
    color: var(--clr-200);
}

#input__todo-head {
    padding: .25em;

    font-size: 1.25rem;
    color: var(--clr-600);

    border: 1.5px solid var(--clr-200);
    border-radius: 0.25em;
}

#input__todo-head:focus {
    border: 1.5px solid var(--clr-200-dark);
    outline: none;
}

#input__todo-body {
    padding: .25em;

    font-size: 1rem;
    color: var(--clr-400);

    border: 1.5px solid var(--clr-200);
    border-radius: 0.25em;
    resize: vertical;

    line-height: 1.25em;

    min-height: 3em;
    max-height: 4.25em;
    overflow: auto;
}

#input__todo-body:focus {
    border: 1.5px solid var(--clr-200-dark);
    outline: none;
}

#form span {
    color: var(--clr-600);

    display: inline-block;
    margin-right: .5em;
}

#input__todo-time {
    margin-top: .5em;
    border: none;

    font-size: 1rem;
    color: var(--clr-200-dark);
}

#input__todo-time::-webkit-calendar-picker-indicator {
    background: url(./icon-calendar.svg);

    position: relative;
    right: 1em;
}

#input__todo-time::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
}

#input__todo-time:focus {
    border: none;
    outline: none;
}

/* list style */

div#list {
    width: 540px;

    background-color: white;
    border-radius: .5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#list__message {
    font-size: 1.5rem;
    font-family: 'Rubik';

    color: var(--clr-200);
    text-align: center;
    
    min-height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#list__message.hide {
    display: none;
}

#list ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

#list ul.hide {
    display: none;
}

#list li {
    margin: 0;
    padding: 1.375em;

    display: flex;
    gap: 1.5em;

}

#list li:hover {
    cursor: default;
}

#list li:not(.last) {
    border-bottom: .05px solid var(--clr-200);
}

.content {
    flex-grow: 1;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h2 {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--clr-600);

    margin: 0;

    flex-grow: 1;
    max-height: 1.2em;
    overflow: hidden;
}

li.done h2 {
    text-decoration: line-through;
    color: var(--clr-200-dark);
}

.desc {
    display: none;
}

#list li:hover .desc {
    display: block;
}

.desc p {
    font-size: 1rem;
    color: var(--clr-400);
}

li.done .desc p:first-of-type {
    text-decoration: line-through;
    color: var(--clr-200-dark);
}

.desc p:first-of-type {
    line-height: 1.25em;

    max-height: 3.75em;
    overflow: auto;
}

.desc p:last-of-type {
    margin: 0;
}

.desc span:first-of-type {
    color: var(--clr-600);
}

li.done .desc span:last-of-type {
    color: var(--clr-200-dark);
    text-decoration: line-through;
}

.checkbox {
    width: 24px;
    height: 24px;

    border: 1.5px solid var(--clr-200);
    border-radius: 50%;
    background-color: white;

    position: relative;
    top: 2px;

    flex-shrink: 0;
}

.checkbox:hover {
    border: 1.5px solid var(--clr-200-dark);
    cursor: pointer;
}

.checkbox::before {
    position: absolute;
    content: '';

    width: 16px;
    height: 16px;

    top: 4px;
    left: 4px;

    background-image: url(./icon-check.svg);
}

li.done .checkbox {
    border: none;
    background: linear-gradient(135deg, hsl(273, 83%, 46%) 0%, hsl(194, 100%, 50%) 100%);
}

.trash {
    display: none;

    width: 22px;
    height: 22px;

    color: var(--clr-400-dark);
}

.trash:hover {
    cursor: pointer;
}

#list li:hover .trash {
    display: inline;
}


#list__footer {
    border-top: 1.5px solid var(--clr-200-dark);
    padding: 1.25em 1.375em;

    display: flex;
    justify-content: space-between;
}

#list__footer span {
    color: var(--clr-400);
}

#list__footer button {
    color: var(--clr-400);
    font-size: 1rem;

    border: none;
    background-color: transparent;
}

#list__footer button:hover {
    color: var(--clr-400-dark);
    cursor: pointer;
}